# Editor configuration, see http://editorconfig.org
# Source: https://gitlab.proaxiom.co.nz/stuart/editorconfig/
# Run `git archive --format=tar --remote=git@gitlab.proaxiom.co.nz:stuart/editorconfig.git master -- .editorconfig | tar xf -` to update

root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.{xml,svg}]
indent_size = 4

[{Makefile,*.mk}]
indent_style = tab
indent_size = 4
tab_width = 4

[*.{bat,cmd,ps1}]
end_of_line = crlf
